.container {
    max-width: 550px;
    width: 100%;
    margin: auto;
    padding: 15px;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 15px;
    overflow: auto;
    height: 500px;
}

.cards::-webkit-scrollbar {
    width: 5px;         
}
  
.cards::-webkit-scrollbar-thumb {
    background-color: var(--primary-bg-color);    
    border-radius: var(--border-radius-scroll);       
}

.result {
    display: flex;
    flex-direction: column;
}

.result span {
    font-size: var(--fz-lg);
    font-weight: var(--font-weight-bold);
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
